@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Inder&family=Oswald&family=Poppins&display=swap');

/*
font-family: 'Arima Madurai', cursive;
font-family: 'Inder', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: rgb(79, 40, 130);
}

body {
    background: var(--bg-color);
    color: white;
    padding-top: 60px;
    min-height: 200vh;
}
#navbar {
    height: 60px;
    width: calc(100% - 10px);
    left: 50%;
    translate: -50% 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 5px;
    overflow: hidden;
    background: var(--bg-color);
    border: 1px solid rgba(245, 222, 179, 0.122);
}

#navbar .links {
    width: max-content;
    height: 100%;
    background: rgba(255, 255, 255, 0.287);
    border-radius: 50px;
    padding: 5px;
    display: flex;
    gap: 10px;
}
.links a img {
    border-radius: 50%;
    height: 100%;
    box-shadow: 0px 2px 3px rgba(52, 52, 52, 0.329);
    transition: 0.6s cubic-bezier(.76,.13,.62,1.24);
    translate: 0px -100px;
}
.links a:hover img {
    rotate: 360deg;
    box-shadow: 0px 0px 5px rgba(218, 158, 255, 0.891);
}
.brand {
    padding-left: 20px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.206);
    transition: 1.5s cubic-bezier(.76,.13,.62,1.24);
    transform: translate(-110%, 0px);
}



/* floating */
div.floating1 {
    height: 100px;
    width: 100px;
    background: rgba(175, 175, 175, 0.163);
    border-radius: 15px;
    position: fixed;
    transform-origin: 50% 50%;
    z-index: -1;
}

div.stretch1 {
    height: 10px;
    width: 10px;
    background: rgba(175, 175, 175, 0.163);
    border-radius: 15px;
    position: fixed;
    transform-origin: 50% 50%;
    top: 30%;
    left: 40px;
    transform: translate(-50%, - 50%);
    z-index: -1;
}




.section {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
    z-index: 1;
}
.section.section1 {
    margin-top: 100px;
    display: flex;
}


.section.section1 .details {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}
.section.section1 .details .name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arima Madurai', cursive;
    color: rgb(186, 186, 186);
}

.section.section1 .details .name .sub_title {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Inder';
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 177, 0.813);
}

.section.section1 .details .name .wrapped {
    font-family: 'Arima Madurai', cursive;
    color: rgb(230, 179, 255);
    font-size: 50px;
}
.section.section1 .details .name .wrapped .firstLetter {
    font-family: 'Inder', cursive;
    color: rgb(255, 183, 208);
    font-weight: 700;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.403);
}

.section.section1 .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}
.section.section1 .image .img {
    overflow: hidden;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    border: 10px solid rgba(127, 127, 127, 0.102);
}
.section.section1 .image .img img {
    width: 100%;
}

@media screen and (max-width: 768px){
    .section.section1 {
        flex-direction: column-reverse;
    }
}